
<html>
 <head>
   <title>Hello from Ngnix </title>
<link rel="stylesheet" href="index.css">

 </head>
 <body>
 <h1>{{ message }}</h1>

<button id="myButton">Click Me</button>

<script src="index.js"></script>

 </body>
</html>

 
